.mobile-menu.hystmodal.mobile-menu--main(id='mobileMenuMain' aria-hidden="true")
    .hystmodal__wrap
        .hystmodal__window(role="dialog" aria-modal="true")
            .mobile-menu__content
                .mobile-menu__header
                    .mobile-menu__title Меню
                    +btn({
                        classes: 'mobile-menu__close',
                        tag: 'button',
                        vMode: 'icon',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'close'
                    })(data-hystclose)

                .mobile-menu__body
                    +btn({
                        classes: 'mobile-menu__link',
                        tag: 'button',
                        vMode: 'link',
                        text: 'Продукция и услуги',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })(data-modal="#mobileMenuServices")
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        tag: 'button',
                        text: 'О компании',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })(data-modal="#mobileMenuAbout")
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Поставщикам и подрядчикам',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        tag: 'button',
                        text: 'Персонал',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })(data-modal="#mobileMenuStaff")
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Новости',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Контакты',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })

.mobile-menu.hystmodal(id='mobileMenuServices' aria-hidden="true")
    .hystmodal__wrap
        .hystmodal__window(role="dialog" aria-modal="true")
            .mobile-menu__content
                .mobile-menu__header
                    a.mobile-menu__title(href="javascript:void(0)" data-modal="#mobileMenuMain") Продукция и услуги
                    +btn({
                        classes: 'mobile-menu__close',
                        tag: 'button',
                        vMode: 'icon',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'close'
                    })(data-hystclose)

                .mobile-menu__body
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Продукция',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Услуги',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Остатки МТР',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })

.mobile-menu.hystmodal(id='mobileMenuAbout' aria-hidden="true")
    .hystmodal__wrap
        .hystmodal__window(role="dialog" aria-modal="true")
            .mobile-menu__content
                .mobile-menu__header
                    a.mobile-menu__title(href="javascript:void(0)" data-modal="#mobileMenuMain") О компании
                    +btn({
                        classes: 'mobile-menu__close',
                        tag: 'button',
                        vMode: 'icon',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'close'
                    })(data-hystclose)

                .mobile-menu__body
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'История компании',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Проекты и решения',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Сертификаты и лицензии',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Экология',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Мы гордимся',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Фотогалерея',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Новости',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })                    

.mobile-menu.hystmodal(id='mobileMenuStaff' aria-hidden="true")
    .hystmodal__wrap
        .hystmodal__window(role="dialog" aria-modal="true")
            .mobile-menu__content
                .mobile-menu__header
                    a.mobile-menu__title(href="javascript:void(0)" data-modal="#mobileMenuMain") Персонал
                    +btn({
                        classes: 'mobile-menu__close',
                        tag: 'button',
                        vMode: 'icon',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'close'
                    })(data-hystclose)

                .mobile-menu__body
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Вакансии',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow',
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Социальная ответственность',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Условия труда',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Карьера',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Молодежная политика',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })
                    +btn({
                        classes: 'mobile-menu__link',
                        vMode: 'link',
                        text: 'Таланты компании',
                        cMode: 'transparent',
                        icon: true,
                        iconName: 'card_arrow'
                    })