.header {
    flex: 0 0 auto;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    background-color: #fff;
    transition: top $tr-time linear, border-color $tr-time linear;

    @include max(1099) {
        padding: 15px 0;
        border-bottom: 1px solid transparent;
        border-color: transparent;

    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bottom {
        width: 100%;

        @include max(1099) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__burger {
        display: none;

        @include max(1099) {
            display: block;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 1px solid $c-accent;
            cursor: pointer;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $c-accent;
                transition: opacity $tr-time linear;

                &.open-icon {
                    width: 20px;
                    height: 8px;
                    opacity: 1;
                }

                &.close-icon {
                    width: 20.5px;
                    height: 20.5px;
                    opacity: 0;
                }
            }
        }
    }

}

.header-images {
    display: flex;
    align-items: center;
    gap: 46px;
    padding-bottom: 36px;

    @include max(1099) {
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        gap: 16px;
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: $c-white;
        transition: bottom $tr-time linear, opacity $tr-time 0.2s linear;
        z-index: 5;
        opacity: 1;
    }

    &__image {
        max-width: 153px;
        max-height: 99px;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        @include max(1099) {
            max-width: 72px;
            max-height: 45.43px;
        }
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-width: 100%;

    @include max(1099) {
        flex-direction: column;
        padding: 100px 0 150px;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        gap: 50px;
        max-height: 0;
        transition: all $tr-time linear;
    }

    &__item {
        font-size: 18px;
        padding: 0 5px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        transition: color $tr-time linear;

        &--active {
            border-color: $c-accent;
            pointer-events: none;
        }

        &:hover {
            color: $c-accent;
        }
    }
}

.header {
    &--small {
        top: -135px;

        @include max(1099) {
            top: 0;
            border-color: $c-accent;

            .header-images {
                bottom: 105%;
                opacity: 0;
                transition: bottom $tr-time 0.2s linear, opacity $tr-time linear;
            }

        }
    }

    &.isOpen {
        @include max(1099) {
            .header-images {
                bottom: -72px;
                opacity: 1;
                transition: bottom $tr-time linear, opacity $tr-time 0.2s linear;
            }

            .header__burger {
                .open-icon {
                    opacity: 0;
                }

                .close-icon {
                    opacity: 1;
                }
            }

            .header-nav {
                padding-top: 100px;
                padding-bottom: 150px;
                max-height: 550px;
            }
        }
    }
}