header.header(data-js="header")
    .m-container.header__container
        .header__top.header-images
            a.header-images__image(href='https://www.gastromaprussia.ru/') 
                img(src="./img/gastronomic_map.svg" alt="Гастрономическая карта России")
            a.header-images__image(href='https://www.ekoniva-moloko.com/')
                img(src="./img/ekoniva.svg" alt="Эконива")
            a.header-images__image(href='https://www.metro-cc.ru/')
                img(src="./img/metro.svg" alt="Метро")                                
        .header__bottom
            .header__burger(data-js="headerBurger")
                svg.open-icon
                    use(xlink:href=`./img/sprites/sprite.svg#burger`)
                svg.close-icon
                    use(xlink:href=`./img/sprites/sprite.svg#close`)
            nav.header-nav(data-js="headerNav")
                a.header-nav__item(href="/" class = page=='main' ? 'header-nav__item--active' : "") о проекте
                a.header-nav__item(href="cities.html" class = page=='cities' ? 'header-nav__item--active' : "") куда сходить на «Русский завтрак»?
                a.header-nav__item(href="recipe-categories.html" class = page=='recipe-categories' ? 'header-nav__item--active' : "") как приготовить «Русский завтрак»?
                a.header-nav__item(href="partners.html" class = page=='partners' ? 'header-nav__item--active' : "") партнеры проекта