header.header(data-js="header")
    .m-container.header__container
        .header__top.header-images
            .header-images__image 
                img(src="./img/gastronomic_map.svg" alt="Гастрономическая карта России")
            .header-images__image 
                img(src="./img/ekoniva.svg" alt="Эконива")
            .header-images__image 
                img(src="./img/metro.svg" alt="Метро")                                
        .header__bottom
            .header__burger
                svg
                    use(xlink:href=`./img/sprites/sprite.svg#burger`)
            nav.header-nav
                a.header-nav__item(href="/" class = page=='main' ? 'header-nav__item--active' : "") о проекте
                a.header-nav__item(href="cities.html" class = page=='cities' ? 'header-nav__item--active' : "") куда сходить на «Русский завтрак»?
                a.header-nav__item(href="recipe-categories.html" class = page=='recipe-categories' ? 'header-nav__item--active' : "") как приготовить «Русский завтрак»?
                a.header-nav__item(href="partners.html" class = page=='partners' ? 'header-nav__item--active' : "") партнеры проекта