mixin mixins
    //- компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/btn/btn
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/modal/modal

    //- модули
    include ../../blocks/modules/m-intro/m-intro