
    

      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName"></div>
        <div class="home-cooks__text" data-js="homeCooksText"></div>
        <div class="home-cooks__city" data-js="homeCooksCity">Кострома</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1068/6.png" alt="Антон Рубцов" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Андрей Матюха</div>
        <div class="home-cooks__text" data-js="homeCooksText">Владелец и бренд-шеф ресторанов «Угли-Угли», «The Печь»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Краснодар</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1069/13.png" alt="Андрей Матюха" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Александр Волков-Медведев</div>
        <div class="home-cooks__text" data-js="homeCooksText">Шеф-повар ресторана Ruski</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Москва</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1070/1.png" alt="Александр Волков-Медведев" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Максим Галецкий</div>
        <div class="home-cooks__text" data-js="homeCooksText">Бренд-шеф конгресс-отеля «Меридиан»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Мурманск</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1071/8.png" alt="Максим Галецкий" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Дмитрий Степанов</div>
        <div class="home-cooks__text" data-js="homeCooksText">Бренд-шеф проекта «Горячо»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Нижний Новгород</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1072/9.png" alt="Дмитрий Степанов" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Артем Прокудин</div>
        <div class="home-cooks__text" data-js="homeCooksText">Шеф-повар кафе «Угра»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">д. Никола-Ленивец, Калужская область</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1073/3.png" alt="Артем Прокудин" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Сергей Альшевский</div>
        <div class="home-cooks__text" data-js="homeCooksText">Бренд-шеф Центра туризма «Абрау-Дюрсо»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">с. Абрау-Дюрсо, Краснодарский край</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1074/14.png" alt="Сергей Альшевский" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Владимир Бурковский</div>
        <div class="home-cooks__text" data-js="homeCooksText">Бренд-шеф Гастрономического театра «ПуппенХаус»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Новосибирск</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1075/18.png" alt="Владимир Бурковский" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Алексей «Пермяк» Субботин</div>
        <div class="home-cooks__text" data-js="homeCooksText">Основатель Кафе-Музея «Пермская кухня»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Пермь</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1076/16.png" alt="Алексей «Пермяк» Субботин" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Ольга Белоногова</div>
        <div class="home-cooks__text" data-js="homeCooksText">Владелица Музея-ресторана «ВКарелииЕсть»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Петрозаводск</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1077/20.png" alt="Ольга Белоногова" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Анна Еловикова</div>
        <div class="home-cooks__text" data-js="homeCooksText">Автор проекта «Любовь и еда»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Пятигорск</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1078/19.png" alt="Анна Еловикова" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Валентина Магидс</div>
        <div class="home-cooks__text" data-js="homeCooksText">Генеральный директор бутик-отеля «39»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Ростов-на-Дону</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1079/12.png" alt="Валентина Магидс" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Максим Титов</div>
        <div class="home-cooks__text" data-js="homeCooksText">Шеф-повар гастробара «ЕСТЬ»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Рязань</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1080/2.png" alt="Максим Титов" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Сергей Корнев</div>
        <div class="home-cooks__text" data-js="homeCooksText">Бренд-шеф ресторана «Ваще Огонь»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Самара</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1081/11.png" alt="Сергей Корнев" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Вадим Бордюг</div>
        <div class="home-cooks__text" data-js="homeCooksText">Основатель пироговых «Линдфорс»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Санкт-Петербург</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1082/7.png" alt="Вадим Бордюг" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Анна Жукова</div>
        <div class="home-cooks__text" data-js="homeCooksText">Владелица ресторана «Лепота», ГК «Пушкарская слобода»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Суздаль</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1083/5.png" alt="Анна Жукова" data-js="homeCooksPhoto"></div>
    </div>
                              <div class="home-cooks__item" data-js="homeCooksItem">
      <div class="home-cooks__info">
        <div class="home-cooks__name" data-js="homeCooksName">Марат Насхутдинов</div>
        <div class="home-cooks__text" data-js="homeCooksText">Основатель башкирского фастфуда «Айбат Халляр»</div>
        <div class="home-cooks__city" data-js="homeCooksCity">Уфа</div>
      </div>
      <div class="home-cooks__photo"><img src="/site/assets/files/1084/17.png" alt="Марат Насхутдинов" data-js="homeCooksPhoto"></div>
    </div>
