extends ../layouts/default.pug

block variables
    - let page = 'partners'

block content
    main.page.partners-page
        .partners-page__bg.partners-page__bg--1
            img(src="./img/partners/partners_decor_2.svg" alt="")
        .partners-page__bg.partners-page__bg--2
            img(src="./img/partners/partners_decor_3.svg" alt="")
        section.partners-intro
            .m-container.partners-intro__container
                .partners-intro__logo.logo
                    img(src="./img/logo.svg" alt="Логотип Русский завтрак")
                .partners-intro__decor
                    img(src="./img/partners/partners_decor_1.svg" alt="")
                +title({
                    tag: "h1",
                    classes: "partners-intro__title",
                    text: "«Русский завтрак» — это больше, чем кулинарный опыт. Этому проекту партнеры отдают частичку своей души."
                })
        section.partners-list
            .partners-list__item.partners-list__partner
                .partners-list__left
                    .partners-list__logo
                        img(src="./img/partners/ekoniva_logo.png" alt="")
                .partners-list__desc
                    p Группа компаний «ЭкоНива» — вертикально интегрированный холдинг, крупнейший в России и Европе производитель сырого молока. Основное, молочное, подразделение группы объединяет 40 современных животноводческих комплексов. Кроме того, предприятия ГК «ЭкоНива» занимаются племенным и мясным скотоводством, семеноводством, растениеводством и органическим сельским хозяйством. Холдинг входит в пятерку крупнейших владельцев сельскохозяйственных земель с 630 000 га. 
                    p Бренд сосредоточен на производстве самых высококачественных молочных продуктов, а также с 2013 г. «ЭкоНива» развивает направление по переработке молока. Под ее управлением пять производственных площадок в Воронежской, Калужской и Новосибирской областях, на которых выпускается широкая линейка натуральных молочных продуктов под одноименным брендом. Помимо этого бренд предлагает экскурсии для всех желающих на своих фермах, популяризируя промышленный туризм в России. Также у группы компаний серьезная образовательная миссия. Так специально для детей и подростков «ЭкоНива» разработала программу «Город профессий» для повышения интереса к работе в сельском хозяйстве. 
                    p «ЭкоНива» была основана в 1994 г. предпринимателем ШтефаномДюрром. Сейчас под ее управлением активы в 13 российских регионах: Воронежской, Калужской, Курской, Ленинградской, Московской, Новосибирской, Оренбургской, Рязанской, Самарской и Тюменской областях, а также Алтайском крае, Республике Башкортостан и Республике Татарстан.

            .partners-list__item.partners-list__employee
                .partners-list__left
                    .partners-list__photo
                        img(src="./img/recipes/recipe_img.jpg" alt="")
                    .partners-list__name Екатерина Дюрр
                    .partners-list__position бренд-директор по HoReCa «ЭкоНива-Продукты питания» и руководитель проекта

                .partners-list__quote «Поскольку производства «ЭкоНивы» расположены во многих регионах страны, мы знаем, как богат и интересен каждый из них: природой, культурой, и, конечно, гастрономией. От города к городу традиционное блюдо может поменяться через особую форму его подачи, приготовление или добавление местных ягод и фруктов, трав, злаков, орехов. Но неизменным во всех регионах без исключения остаются молочные продукты, используемые в качестве базовых ингредиентов для завтраков. Поэтому для нас, как лидера отрасли важно, чтобы молочная продукция высокого качества была доступна любому жителю нашей страны. Через интерпретацию уже известных блюд и рецептов проект «Русский завтрак» как экскурсовод проведет нас по гастрономическим особенностям регионов и расскажет, как по-новому у себя дома приготовить любимый завтрак».

            .partners-list__item.partners-list__partner
                .partners-list__left
                    .partners-list__logo
                        img(src="./img/partners/metro_logo.png" alt="")
                    .partners-list__sticker партнер 2024
                .partners-list__desc
                    p METRO – один из крупнейших транснациональных операторов оптовой торговли. Компания предлагает широкий ассортимент продовольственных и непродовольственных товаров и специализируется на удовлетворении потребностей сегмента HoReCa и независимых торговых организаций. Примерно 17 миллионов клиентов METRO по всему миру могут делать покупки в полноформатных торговых центрах, а также заказывать товары онлайн с получением в магазине или с доставкой. METRO также поддерживает конкурентоспособность предпринимателей и владельцев собственного бизнеса с помощью цифровых решений, тем самым внося свой вклад в повышение социокультурного многообразия в розничной торговле и индустрии гостеприимства. Ключевым принципом деятельности METRO является устойчивое развитие, что доказывает участие METRO во многих международных рейтингах, включая MSCI, Sustainalytics и CDP. Компания представлена в 30 странах с общим количеством сотрудников свыше 89 000 по всему миру. Объем продаж METRO за 2022/2023 финансовый год составил приблизительно 30,6 млрд евро. <br>В России METRO управляет 93 торговыми центрами в 51 регионе. В России объем продаж за 2022/2023 финансовый год составил 2,5 млрд евро. Численность сотрудников – около 11 000 человек.

            .partners-list__item.partners-list__employee
                .partners-list__left
                    .partners-list__photo
                        img(src="./img/recipes/recipe_img.jpg" alt="")
                    .partners-list__name ЕВГЕНИЯ ЩЕРБАКОВА
                    .partners-list__position руководитель В2В-маркетинга METRO

                .partners-list__quote «Мы участвуем в этом проекте и приглашаем в него наших клиентов, потому что для METRO важно развивать культуру питания через профессионалов своего дела. Мы знаем, что настоящий вклад и польза получаются только тогда, когда объединяются усилия нескольких сильных партнеров. Это наш стратегический принцип — развитие B2B-рынка через партнерство. Мы не только продаем качественные товары и осуществляем быструю доставку, мы хотим давать больше возможностей для развития ресторанной индустрии, создавая вокруг себя целое сообщество шеф-поваров, отельеров, рестораторов, реализуя совместные профессиональные и образовательные проекты. В проектах, которые мы делаем, мы соединяем ресурс поставщиков, наших профессиональных клиентов, B2C-клиентов наших торговых центров. Такая синергия создает интерес, придает энергию общему делу. Таким образом, мы создаем готовые решения для отелей и ресторанов, которые раскрывают разнообразие культур и традиции страны».

            .partners-list__item.partners-list__partner
                .partners-list__left
                    .partners-list__logo
                        img(src="./img/partners/gastronomic_logo.png" alt="")
                .partners-list__desc
                    p «Гастрономическая карта России» — первый межотраслевой проект Екатерины Шаповаловой по развитию туризма и внедрению российской кухни в туристическую инфраструктуру России. Он объединяет тысячи шеф-поваров, рестораторов, отельеров и производителей в регионах России.

                    p Екатерина Шаповалова — автор и соорганизатор 35 мобильных фестивалей региональной кухни от Арктики до Дальнего Востока, среди них арктический фестиваль «Териберка», фестиваль-путешествие «Вкус Арктики» (Мурманская область), гастрономический фестиваль «Кухни народов России» в рамках празднования Дня народного единства; первого фестиваля путешествий по России «Подорожник» в Москве, Всероссийского гастрономического фестиваля «От Арктики до Дальнего Востока» во Владивостоке и др. Автор книг «Страна, за стол!» и «Рецепты гостеприимства. 100-летию ГлавУпДК при МИД России посвящается», эксперт рубрики «Вкусы России» программы «Жить здорово!» на Первом.

            .partners-list__item.partners-list__employee
                .partners-list__left
                    .partners-list__photo
                        img(src="./img/recipes/recipe_img.jpg" alt="")
                    .partners-list__name Екатерина Шаповалова
                    .partners-list__position автор проекта

                .partners-list__quote «На сегодняшний день в Российской Федерации нет ни одной школы русской кухни: ни государственной, ни коммерческой, а среди 180 тысяч российских предприятий питания меньше 1% специализируются на русской кухне и кухне народов России. Инициатива двух российских предприятий-гигантов очень своевременная и социально значимая. В ближайшие 10 лет нам необходимо заняться собой, осознать и сформулировать нашу национальную идентичность, которая и станет основой сферы гостеприимства. География «ЭкоНивы» и «METRO» позволяет нам в рамках проекта познакомить с современной русской кухней каждого пятого россиянина, региональные блюда русского завтрака «зайдут» в каждый дом. Очень надеюсь, что одним из результатов проекта, станет появление в туристической инфраструктуре России — в отелях, кафе, ресторанах, кондитерских — такого долгожданного предложения как „русский завтрак“».

            .partners-list__item.partners-list__partner
                .partners-list__left
                    .partners-list__logo
                        img(src="./img/partners/lenta_logo.png" alt="")
                    .partners-list__sticker партнер 2023
                .partners-list__desc
                    p «Лента» — ведущая мультиформатная розничная сеть в России. Миллионы покупателей выбирают «Ленту» за широкий ассортимент, свежесть и качество продуктов, лучшие акции и скидки. Программа лояльности «Ленты» долгие годы удерживает лидирующие позиции на рынке, что подтверждают более 26 млн.держателей Карты №1*. Сеть тщательно заботится о том, чтобы покупатель мог найти на полках «Ленты» любимые продукты, попробовать что-то новое с максимальным комфортом и по выгодным ценам. 

                    p Компания была основана в 1993 году в Санкт-Петербурге. По состоянию на 31 декабря 2022 года под управлением «Ленты» находится 259 гипермаркетов, 561 супермаркет и магазин «Мини Лента» в более чем 200 населенных пунктах России. За 2021 год было открыто больше магазинов, чем за предыдущие 10 лет. Компания продолжает активно открывать, развивать и совершенствовать форматы: «Гипер Лента», «Супер Лента», «Мини Лента» и «Лента Онлайн».

                    p._footnote * №1 по количеству покупателей считающих, что карта лояльности ООО «Лента» дает существенную экономию при покупках. Опрос посетителей продовольственных магазинов в городах присутствия сети «Лента», проведенный АО «МИЦ» в 2022 г.

            .partners-list__item.partners-list__employee
                .partners-list__left
                    .partners-list__photo
                        img(src="./img/recipes/recipe_img.jpg" alt="")
                    .partners-list__name Татьяна Пушкина
                    .partners-list__position бренд-директор федеральной мультиформатной сети «Лента»

                .partners-list__quote «Сейчас «Лента» — это федеральная мультиформатная сеть: в каждом нашем магазине или онлайн покупатели всегда могут быть уверены в экономии, качестве, свежести, заботе в каждой покупке и большом внимании к уникальным локальным чертам. Партнерство в рамках проекта «Русский завтрак» стало отражением интересов и ритма жизни наших покупателей, объединяющим новые кулинарные идеи и традиции. С завтрака начинается утро, поэтому открывайте новые и уже любимые вкусы, а в магазинах «Лента» вы найдете все необходимое для путешествия по “Гастрономической карте России„».

        section.partners-information
            .m-container
                +title({
                    tag: "h2",
                    classes: "partners-information__title",
                    text: "Информационные партнеры"
                })
                .partners-information__list
                    .partners-information__row.partners-information__row--red
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                    .partners-information__row.partners-information__row--blue
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст
                        .partners-information__item
                            .partners-information__logo
                                img(src="./img/recipes/recipe_logo.png" alt="")
                            .partners-information__text текст


        section.partners-media
            .m-container
                +title({
                    tag: "h2",
                    classes: "partners-media__title",
                    text: "СМИ о нас"
                })
                .partners-media__list(data-js="partnersMediaList")
                    .swiper-wrapper
                        .partners-media__card.media-card.swiper-slide
                            .media-card__inner
                                .media-card__img
                                    img(src="./img/logo.svg" alt="")
                                .media-card__text «Lorem ipsum dolor sit amet, consectetur adipiscing elit»
                                +btn({
                                    classes: "media-card__btn",
                                    name: "Читать",
                                })
                        .partners-media__card.media-card.swiper-slide
                            .media-card__inner
                                .media-card__img
                                    img(src="./img/logo.svg" alt="")
                                .media-card__text «Lorem ipsum dolor sit amet, consectetur adipiscing elit»
                                +btn({
                                    classes: "media-card__btn",
                                    name: "Читать",
                                })                                                                                  
                        .partners-media__card.media-card.swiper-slide
                            .media-card__inner
                                .media-card__img
                                    img(src="./img/logo.svg" alt="")
                                .media-card__text «Lorem ipsum dolor sit amet, consectetur adipiscing elit»
                                +btn({
                                    classes: "media-card__btn",
                                    name: "Читать",
                                })
                    .slider-controls
                        .slider-control.slider-control--prev(data-js="sliderControlPrev")
                            svg
                                use(xlink:href="./img/sprites/sprite.svg#btn_arrow")
                        .slider-control.slider-control--next(data-js="sliderControlNext")
                            svg
                                use(xlink:href="./img/sprites/sprite.svg#btn_arrow")