extends ../layouts/default.pug

block variables
    - let page = 'recipes'

block content
    main.page.recipes-page
        .recipes-page__bg.recipes-page__bg--1
            img(src="./img/recipes/recipes_bg_1.svg" alt="")
        +m-intro
        section.recipes
            .m-container
                .recipes__header
                    +title({
                        tag: "h1",
                        classes: "recipes__title",
                        text: "название раздела"
                    })(data-js="categoryName")
                    .recipes__tabs
                        +btn({
                            name: 'рецепт от шефа',
                            classes: 'recipes__tab',
                            link: '',
                            icon: false,
                        })(data-js='recipesTab' data-author='chef')
                        +btn({
                            name: 'народный рецепт',
                            classes: 'recipes__tab',
                            icon: false,
                        })(data-js='recipesTab' data-author='member')
                    +btn({
                        classes: "recipes__back",
                        name: "назад",
                        link: 'recipe-categories.html',
                        icon: true,
                        iconName: 'btn_back_arrow',
                        positionIcon: "left"
                    })

                .recipes__list(data-js="recipesList")
                    .slider-controls 
                        .slider-control.slider-control--prev(data-js="sliderControlPrev")
                            svg
                                use(xlink:href="./img/sprites/sprite.svg#btn_long_arrow")
                        .slider-control.slider-control--next(data-js="sliderControlNext")
                            svg
                                use(xlink:href="./img/sprites/sprite.svg#btn_long_arrow")
                    .swiper-wrapper

                +pagination({
                    classes: "recipes__pagination"
                })
