extends ../layouts/default.pug

block variables
    - let page = 'recipe'

block content
    main.page.recipe-page(data-js="recipePage")
        section.m-intro
            .m-container.m-intro__container
                .m-intro__img
                    img(src="./img/home_about.png" alt="")
                .m-intro__logo.logo
                    img(src="./img/logo.svg" alt="Логотип Русский завтрак")
                .m-intro__right(data-js="recipeHeaderRight")
                    //-.m-intro__title ЗАВТРАК КАК ТРАДИЦИЯ, ЗАВТРАК КАК НАСТОЯЩИЙ ПРАЗДНИК
                    //-.m-intro__video
                        <iframe src="https://vk.com/video_ext.php?oid=-104557233&id=456239219&hd=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        section.recipe
            .m-container
                .recipe__inner
                    +btn({
                        classes: "recipe__back-top with-angles",
                        name: "ко всем рецептам",
                        icon: true,
                        iconName: 'btn_arrow',
                        positionIcon: 'left'
                    })(data-js="recipeBack")
                    +title({
                        tag: "h1",
                        classes: "recipe__title",
                        text: "Названиер рецепта"
                    })(data-js="recipeTitle")
                    .recipe__photos
                        .recipe__photo.recipe__photo--chef.for-chef
                            img(src="" alt="Повар" data-js="chefPhoto")
                        .recipe__photo.recipe__photo--dish
                            img(src="" alt="Сырники с соусом из ирисок" data-js="dishPhoto")

                    .recipe__intro
                        .recipe__header
                            div
                                .recipe__name(data-js="recipeAuthorName") Александр Волков-Медведев
                                .recipe__info(data-js="recipeAuthorInfo") Шеф-повар ресторана Ruski, <br>Москва
                            .recipe__stickers(data-js="recipeStickers")
                                //-.recipe__sticker.recipe__sticker--green конкурсант
                                //-.recipe__sticker.recipe__sticker--red победитель
                            .restaurant-logo.for-chef
                                img(src="" alt="логотип заведения" data-js="restaurantLogo")
                        .recipe__desc(data-js="recipeDesc") «Я приготовлю сырники со вкусом моего детства — с соусом из моих любимых конфет ирисок. Тех самых ирисок легендарной московской кондитерской фабрики „Красный Октябрь“»
                        .recipe__decor
                            img(src="./img/decor.svg")

                    .recipe__ingredients.recipe-ingredients
                        .recipe-ingredients__title ИНГРЕДИЕНТЫ
                        .recipe-ingredients__content
                            .recipe-ingredients__count 
                                span Количество порций
                                span.recipe-ingredients__count-line
                                span(data-js="recipeCount") 3
                            div(data-js="recipeIngredients")
                                //-.recipe-ingredients__subtitle Для теста
                                //-ul.recipe-ingredients__list
                                    li._sponsor Творог «ЭкоНива» 9% — 500 г
                                    li Мука пшеничная высшего сорта — 3 ст. л.
                                    li Сахар — 4 ст. л.
                                    li Соль — 1 щепотка
                                    li._sponsor Сливочное масло «ЭкоНива» 82,5% (для обжарки) — 6 ст. л.

                                //-.recipe-ingredients__subtitle Для соуса
                                //-ul.recipe-ingredients__list
                                    li._sponsor Сливки «ЭкоНива» 10% — 400 мл
                                    li Конфеты «Кис-Кис», «Красный Октябрь» — 200 г
                                    li Соль — 1 щепотка
                                    li Зелень мяты — 2–3 веточки (для украшения)

                            .recipe-ingredients__img.for-chef
                                img(src="" alt="Ингредиенты" data-js="ingredientsPhoto")

                            +btn({
                                classes: "recipe-ingredients__btn",
                                name: "Купить продукты",
                            })(data-js="ingredientsLink")

                    .recipe__process.recipe-process
                        .recipe-process__title Способ приготовления
                        ul.recipe-process__content(data-js="recipeProcess")
                            //-li Смешиваем в миске творог, яйцо, муку, сахар и соль.
                            //-li Вымешиваем тесто до получения однородной консистенции.
                            //-li Формуем 3 сырника по 60 г каждый. Придаем им цилиндрическую форму.
                            //-li Присыпаем каждый сырник мукой.
                            //-li Нагреваем сливочное масло на сковороде, обжариваем сырники с двух сторон до золотистого цвета.
                            //-li Выкладываем обжаренные сырники на противень с пергаментом и запекаем в духовке при температуре 180 ℃ 10 минут.
                            //-li Для соуса — доводим сливки до кипения, выкладываем в них ириски (20 штук) и уменьшаем огонь.
                            //-li Растапливаем ириски на медленном огне до полного растворения. Добавляем в соус щепотку соли.
                            //-li Выкладываем сырники в центр тарелки, поливаем соусом из ирисок, украшаем веточками мяты.

                    .recipe__note(data-js="recipeNote")
                    .recipe__btns
                        +btn({
                            classes: "recipe__back-bottom",
                            name: "назад",
                            icon: true,
                            iconName: 'btn_long_arrow',
                            positionIcon: 'left'
                        })(data-js="recipeBack")
                        .recipe__logo.logo
                            img(src="./img/logo.svg" alt="Логотип Русский завтрак")


