extends ../layouts/default.pug

block variables
    - let page = 'restaurant'

block content
    main.page.restaurant-page(data-js="restaurantPage")
        +m-intro
        section.restaurant
            .m-container
                .restaurant__inner
                    +btn({
                        classes: "restaurant__back-top with-angles",
                        name: "ко всем ресторанам",
                        icon: true,
                        iconName: 'btn_arrow',
                        positionIcon: 'left'
                    })(data-js="restaurantBack")
                    +title({
                        tag: "h1",
                        classes: "restaurant__title",
                        text: "Название заведения"
                    })(data-js="restaurantTitle")
                    .restaurant__city(data-js="restaurantCity")

                    .restaurant__slider(data-js="restaurantSlider")
                        .swiper-wrapper
                            //-.restaurant__slide.swiper-slide
                                .restaurant__img
                                    img(src="./img/restaurant_img.jpg")
                            //-.restaurant__slide.swiper-slide 
                                .restaurant__img
                                    img(src="./img/restaurant_img.jpg")
                            //-.restaurant__slide.swiper-slide 
                                .restaurant__img
                                    img(src="./img/restaurant_img.jpg")
                        .slider-controls 
                            .slider-control.slider-control--prev(data-js="sliderControlPrev")
                                svg
                                    use(xlink:href="./img/sprites/sprite.svg#btn_arrow")
                            .slider-control.slider-control--next(data-js="sliderControlNext")
                                svg
                                    use(xlink:href="./img/sprites/sprite.svg#btn_arrow")

                    .restaurant__desc
                        .restaurant__text(data-js="restaurantText")
                        .restaurant__decor
                            img(src="./img/decor.svg")

                    .restaurant__quote.restaurant-quote
                        .restaurant-quote__text(data-js="restaurantQuote")
                        .restaurant-quote__author
                            .restaurant-quote__photo
                                img(src="" alt="" data-js="restaurantPhoto")
                            div
                                .restaurant-quote__name(data-js="restaurantName")
                                .restaurant-quote__position(data-js="restaurantPosition")

                    .restaurant__menu.restaurant-menu
                        +title({
                            tag: "h2",
                            classes: ".restaurant-menu__title",
                            text: "Меню «Русского&nbsp;завтрака»"
                        })
                        .restaurant-menu__list(data-js="restaurantMenu")
                            //-.restaurant-menu__item Блинчики со сморчками и индюшкой
                            //-.restaurant-menu__item Каша «Гурьевская» с брусникой и клюквой моченой
                            //-.restaurant-menu__item Яичница-болтунья в печи с полевыми травами
                            //-.restaurant-menu__item Молочный десерт из парного молочка с желе из морошки

                    .restaurant__contacts
                        .restaurant__address(data-js="restaurantAddress")
                        .restaurant__mode(data-js="restaurantMode")
                        a(href="tel:+79000000000" data-js="restaurantPhone").restaurant__phone
                        a(href="#" data-js="restaurantSite").restaurant__site

                    .restaurant__btns
                        +btn({
                            classes: "restaurant__back-bottom",
                            name: "назад",
                            icon: true,
                            iconName: 'btn_long_arrow',
                            positionIcon: 'left'
                        })(data-js="restaurantBack")
                        +btn({
                            classes: "restaurant__btn",
                            name: "Перейти на сайт",
                        })(data-js="restaurantSite")
