extends ../layouts/default.pug

block variables
    - let page = 'restaurant'

block content
    main.page.restaurant-page
        +m-intro
        section.restaurant
            .m-container
                .restaurant__inner
                    +btn({
                        classes: "restaurant__back-top with-angles",
                        name: "ко всем ресторанам",
                        icon: true,
                        iconName: 'btn_arrow',
                        positionIcon: 'left'
                    })
                    +title({
                        tag: "h1",
                        classes: "restaurant__title",
                        text: "Название заведения"
                    })
                    .restaurant__city Город

                    .restaurant__slider(data-js="restaurantSlider")
                        .swiper-wrapper
                            .restaurant__slide.swiper-slide
                                .restaurant__img
                                    img(src="./img/restaurant_img.jpg")
                            .restaurant__slide.swiper-slide 
                                .restaurant__img
                                    img(src="./img/restaurant_img.jpg")
                            .restaurant__slide.swiper-slide 
                                .restaurant__img
                                    img(src="./img/restaurant_img.jpg")
                        .slider-controls 
                            .slider-control.slider-control--prev(data-js="sliderControlPrev")
                                svg
                                    use(xlink:href="./img/sprites/sprite.svg#btn_arrow")
                            .slider-control.slider-control--next(data-js="sliderControlNext")
                                svg
                                    use(xlink:href="./img/sprites/sprite.svg#btn_arrow")

                    .restaurant__desc
                        .restaurant__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla justo lectus, dapibus in leo eget, mattis interdum dui. Nullam cursus porttitor feugiat. Etiam sollicitudin semper urna, at tempus nisi pulvinar vel. Donec velit augue, fringilla at auctor quis, elementum id tellus. Aenean ornare tempor enim id volutpat. Nulla molestie tortor sit amet nibh eleifend, ut eleifend elit consectetur. Aliquam quis molestie purus. Donec vitae ipsum neque. In ac fermentum lectus. Vestibulum placerat dolor sit amet ligula pulvinar, sit amet ullamcorper nulla placerat. Nullam luctus tellus eu sem iaculis, pulvinar congue turpis rutrum. Quisque tincidunt fermentum ligula, sed luctus tortor blandit at. Etiam luctus augue eu tortor dictum convallis eu non ante. Proin lectus lorem, pulvinar a tincidunt et, egestas nec risus.
                        .restaurant__decor
                            img(src="./img/decor.svg")

                    .restaurant__quote.restaurant-quote
                        .restaurant-quote__text «Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt imperdiet mauris, id placerat libero sodales vitae. Morbi eget turpis ut leo.»
                        .restaurant-quote__author
                            .restaurant-quote__photo
                                img(src="./img/modal_photo.jpg" alt="")
                            div
                                .restaurant-quote__name Фамилия Имя
                                .restaurant-quote__position шеф-повар

                    .restaurant__menu.restaurant-menu
                        +title({
                            tag: "h2",
                            classes: ".restaurant-menu__title",
                            text: "Меню «Русского завтрака»"
                        })
                        .restaurant-menu__list
                            .restaurant-menu__item Блинчики со сморчками и индюшкой
                            .restaurant-menu__item Каша «Гурьевская» с брусникой и клюквой моченой
                            .restaurant-menu__item Яичница-болтунья в печи с полевыми травами
                            .restaurant-menu__item Молочный десерт из парного молочка с желе из морошки

                    .restaurant__contacts
                        .restaurant__address Адрес
                        .restaurant__mode Режим работы
                        a(href="tel:+79000000000").restaurant__phone Номер телефона
                        a(href="#").restaurant__site Сайт

                    .restaurant__btns
                        +btn({
                            classes: "restaurant__back-bottom",
                            name: "назад",
                            icon: true,
                            iconName: 'btn_long_arrow',
                            positionIcon: 'left'
                        })
                        +btn({
                            classes: "restaurant__btn",
                            name: "Перейти на сайт",
                        })
