.city-page {
    position: relative;
    padding-top: 202px;
    overflow: hidden;

    .city-intro {
        &__container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__img {
            margin-right: 11px;
            margin-left: -100px;
            flex: 0 0 434px;
        }

        &__logo {
            flex: 0 0 340px;
        }

        &__desc {
            flex: 0 0 400px;
            margin-left: 51px;
        }

        &__title {
            margin-top: 5px;
        }

        &__date {
            margin-top: 18px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2em;
            color: $c-accent;
        }
    }

    .city-map {
        padding-top: 140px;
        text-align: center;

        &__inner {
            position: relative;
            padding-top: 78px;
            border: 2px solid #E42313;
            border-radius: 10px;
        }

        &__decor {
            position: absolute;
            left: 10px;
            top: -79px;
            width: 183px;
            height: 190px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            max-width: 773px;
            margin: 33px auto 0;
        }

        &__map {
            width: 100%;
            height: 273px;
            margin-top: 47px;
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .map-block__placemark {
        display: block;
        min-width: 84.77px;
        height: 121.15px;
        cursor: pointer;
    }

    .city-list {
        padding-top: 133px;
        padding-bottom: 114px;

        &__header {
            position: relative;
        }

        &__back {
            position: absolute;
            left: 0;
            top: 6px;
            flex-direction: column;
            gap: 0;
            padding: 0;
            color: $c-accent;
            background-color: transparent;

            .btn__text {
                font-size: 18px;
                line-height: 18px;
            }

            .btn__icon {
                width: 45px;
                height: 6px;

                svg {
                    width: 45px;
                    height: 6px;
                }
            }
        }

        &__title {
            text-align: center;
            font-size: 45px;
            line-height: 1.1em;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 14px 22px;
            margin-top: 25px;
        }

        &__pagination {
            margin-top: 79px;
        }
    }

    .restaurant-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 23px;
        border-radius: 10px;
        height: 345px;
        border: 2px solid $c-accent;
        overflow: hidden;

        &__img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 273px;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            position: relative;
            z-index: 5;
            font-family: $ff-title;
            font-size: 37px;
            font-weight: 400;
            line-height: 1.09em;
            letter-spacing: 0.06em;
        }

        &__text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            z-index: 5;
            margin-top: 8px;
            padding: 0 15px;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 1em;
            letter-spacing: 0.06em;
            height: 2em;
        }

        &__btn {
            position: relative;
            width: 171px;
            height: 35px;
            padding: 0;
            margin-top: 14px;
            background-color: transparent;
            z-index: 5;
            background-size: 171px 35px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 186px;
            background-color: $c-blue-bg;
            border-radius: 10px;
            z-index: 3;

        }
    }

    &__bg {
        position: absolute;

        &--1 {
            right: 0;
            top: 202px;
            width: 222px;
        }

        &--2 {
            width: 141px;
            right: 0;
            top: 525px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}