.home-page {
    padding-top: 232px;

    @include max(1099) {
        padding-top: 75px;
    }

    .home-intro {

        &__container {
            position: relative;
        }

        &__desc {
            display: flex;
            flex-direction: column;
            gap: 203px;
            width: 353px;

            @include max(1359) {
                gap: 60px
            }

            @include max(767) {
                width: 100%;
                gap: 64vw;
            }
        }

        &__title {
            font-size: 37px;
            color: $c-accent;

            @include max(767) {
                font-size: 35px;
                max-width: 360px;
            }
        }

        &__logo {
            width: 100%;
        }

        &__img {
            position: absolute;
            left: 353px;
            top: 0;
            height: 100%;
            aspect-ratio: 1 / 0.74;

            img {
                width: 100%;
                height: 100%;
            }

            @include max(1023) {
                top: auto;
                bottom: 0;
                height: 57%;
            }

            @include max(767) {
                left: 0;
                bottom: 122px;
                height: 77.7vw;
            }
        }
    }

    .home-about {
        padding-top: 40px;

        @include max(767) {
            padding-top: 11px;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 40px;

            @include max(1023) {
                position: relative;
                flex-direction: column;
                padding-bottom: 95.5px;
                gap: 28px;
            }
        }

        &__left {
            flex: 1 1 50%;
            max-width: 447px;

            @include max(1023) {
                flex-basis: auto;
                max-width: 100%;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 20px;
            line-height: 1.1;
            font-weight: 400;
        }

        &__img {
            width: 100%;
            max-width: 289px;
            margin-left: 6px;
            margin-top: 90px;
            z-index: 5;

            img {
                width: 100%;
                height: auto;
            }

            @include max(1023) {
                position: absolute;
                bottom: 0;
                right: 29px;
                margin: 0;
                max-width: 165px;
            }
        }

        &__right {
            padding-top: 16px;
            flex: 0 0 540px;
            max-width: 540px;

            @include max(1099) {
                flex: 0 0 490px;
                max-width: 490px;
            }

            @include max(1023) {
                flex-basis: auto;
                max-width: 100%;
                padding-top: 0;
            }
        }

        .author-card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 60px 50px 66px;
            border: 1px solid $c-accent;
            border-radius: 10px;
            margin-top: 48px;

            @include max(1099) {
                padding: 60px 25px 66px;
            }

            @include max(767) {
                padding: 15px 10px 70px;
            }

            &__title {
                font-family: $ff-title;
                position: absolute;
                left: 50%;
                top: -18px;
                transform: translateX(-50%);
                font-size: 37px;
                font-weight: 400;
                line-height: 1em;
                color: $c-accent;
                text-transform: uppercase;
                white-space: nowrap;
                z-index: 5;

                @include max(767) {
                    font-size: 35px;
                    top: -23px;
                }
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: -48px;
                transform: translateX(-50%);
                width: 354px;
                height: 97px;
                border-radius: 30px;
                border: 1px solid $c-accent;
                background-color: #fff;

                @include max(767) {
                    width: 230px;
                    height: 111px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 360px;
                height: 50px;
                background-color: #fff;

                @include max(767) {
                    width: 270px;
                    height: 70px;
                }
            }

            &__photo {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                z-index: 5;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__name {
                margin-top: 23px;
                font-size: 20px;
                font-weight: 400;
                line-height: 1em;
                text-transform: uppercase;

                @include max(767) {
                    margin-top: 21px;
                    font-size: 18px;
                }
            }

            &__position {
                margin-top: 2px;
                font-size: 14px;
                font-weight: 400;
                line-height: 0.9em;
                opacity: 0.5;

                @include max(767) {
                    font-size: 11px;
                }
            }

            &__icon {
                width: 50px;
                height: 47px;
                margin-top: 25px;

                @include max(767) {
                    margin-top: 10px;
                }

                svg {
                    width: 100%;
                    height: 100%;

                }
            }

            &__text {
                margin-top: 16px;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.1em;
                color: $c-accent;

                @include max(767) {
                    margin-top: 21px;
                    font-size: 18px;
                }
            }

        }
    }

    .home-banner {
        padding-top: 148px;
        padding-bottom: 74px;

        @include max(1023) {
            padding-top: 42px;
        }

        @include max(767) {
            padding-bottom: 127px;
        }

        &__inner {
            padding: 13px 69px 45px;
            border-radius: 10px;
            border: 1px solid #FF0909;
            background-image: url(../img/home_banner_bg.png);
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 555px;

            @include max(1099) {
                background-size: 495px;
            }

            @include max(1023) {
                background-size: 305px;
            }

            @include max(767) {
                position: relative;
                background-size: 100% auto;
                background-image: url(../img/home_banner_bg_mob.png);
                background-position: bottom left;
                padding: 10px 18px 57.44vw;

                &::after {
                    content: '';
                    background-image: url(../img/decor_mob_1.png);
                    position: absolute;
                    left: 0;
                    top: -54px;
                    width: 103px;
                    height: 107px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 1;

                }
            }
        }

        &__desc {
            max-width: 496px;

            @include max(767) {
                max-width: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        &__logo {
            width: 205px;

            @include max(767) {
                width: 117.5px;
                margin: 0 auto;
                order: -1;
            }
        }

        &__title {
            color: $c-accent-2;
            font-size: 62px;
            margin-top: 12px;

            @include max(767) {
                margin-top: 6px;
                font-size: 30px;
                max-width: 250px;
            }
        }

        &__date {
            margin-top: 12px;
            color: $c-accent-2;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2em;

            @include max(767) {
                order: -1;
                margin-top: 0;
                font-size: 12px;
            }
        }

        &__text {
            font-family: $ff-title;
            margin-top: 22px;
            font-size: 26px;
            font-weight: 400;
            line-height: 0.91em;

            @include max(767) {
                margin-top: 6px;
                font-size: 17px;
                max-width: 280px;
            }
        }

        &__btn {
            margin-top: 18px;


            @include max(767) {
                margin-top: 18px;
                max-width: 100%;
                padding: 11px 12px;

                .btn__text {
                    font-size: 12px;
                }

            }
        }
    }

    .home-video {
        padding-bottom: 165px;

        @include max(767) {
            padding-bottom: 41px;
        }

        &__title {
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;

            @include max(767) {
                font-size: 35px;
                line-height: 1.45em;
            }

            span {
                display: block;
                font-size: 100px;
                line-height: 1.05em;
                text-transform: uppercase;
                color: $c-accent;

                @include max(767) {
                    font-size: 55px;
                    line-height: 1;
                }
            }
        }

        &__inner {
            margin-top: 27px;
            display: flex;
            align-items: flex-start;
            gap: 20px;

            @include max(1023) {
                flex-direction: column-reverse;
            }

            @include max(767) {
                margin-top: 9px;
                gap: 32px;
            }
        }

        &__video {
            flex-basis: 58.6%;
            aspect-ratio: 1.777 / 1;

            @include max(1023) {
                width: 100%;
                flex-basis: auto;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            flex-basis: 41.4%;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3em;

            @include max(1023) {
                width: 100%;
                flex-basis: auto;
            }
        }
    }

    .home-cooks {
        padding-bottom: 161px;

        @include max(768) {
            padding-bottom: 77px;
        }

        &__title {
            font-family: $ff-title;
            max-width: 880px;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;

            @include max(1023) {
                font-size: 35px;
                max-width: 550px;
            }

            br {
                @include max(768) {
                    display: none;
                }
            }

            span {
                font-size: 100px;
                font-weight: 400;
                line-height: 1.05em;
                color: $c-accent;
                text-transform: uppercase;

                @include max(1023) {
                    font-size: 55px;
                    line-height: 1em;
                }

                @include max(768) {
                    display: block;
                }
            }
        }

        &__list {
            position: relative;
            margin-top: 37px;
            display: grid;
            grid-template-columns: repeat(10, minmax(0, 1fr));
            gap: 20px 22px;

            @include max(1023) {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }

            @include max(768) {
                margin-top: 78px;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                gap: 20px 21px;
            }
        }

        &__note {
            position: absolute;
            right: 0;
            bottom: calc(100% + 45px);
            width: 258px;
            display: flex;
            align-items: flex-start;
            gap: 10px;
            font-size: 12px;
            font-weight: 400;
            line-height: 1em;

            @include max(1023) {
                bottom: calc(100% + 23px);
            }

            @include max(768) {
                right: auto;
                left: 0;
            }

            svg {
                flex: 0 0 25px;
                width: 25px;
                height: 33px;
            }
        }

        &__item {
            position: relative;
            aspect-ratio: 1 / 1;
            cursor: pointer;

            &:hover {
                .home-cooks__info {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__photo {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            position: absolute;
            left: 50%;
            bottom: calc(100% + 10px);
            transform: translateX(-50%);
            width: 250px;
            padding: 10px 15px;
            background-color: #F9F5F1;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s linear;
        }

        &__name {
            font-family: $ff-title;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.08em;
            text-transform: uppercase;
        }

        &__text {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.08em;
        }
    }
}