.partners-page {
    position: relative;
    padding-top: 245px;
    padding-bottom: 104px;
    overflow: hidden;

    &__bg {
        position: absolute;

        &--1 {
            right: 0;
            bottom: 17.5%;
        }

        &--2 {
            left: 0;
            bottom: 0;
        }
    }

    .partners-intro {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
        }

        &__title {
            flex: 0 0 100%;
            text-align: left;
            margin-top: 41px;
            color: $c-accent;
            font-size: 50px;
            line-height: 1.05em;
            color: #000;
        }

        &__logo {
            flex: 0 0 448px;
            width: 448px;
        }

        &__decor {
            flex: 0 0 467px;
            width: 467px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .partners-list {
        margin: 59px auto 0;
        max-width: 915px;


        &__item {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            border-top: 1px solid $c-accent;
        }

        &__partner {
            padding: 55px 0 36px;
        }

        &__employee {
            padding: 36px 0 55px;
        }

        &__left {
            flex: 0 0 169px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__logo {
            max-width: 100%;
            width: fit-content;

            img {
                max-width: 100%;
            }
        }

        &__photo {
            width: 90px;
            height: 90px;

            img {
                width: 100%;
                height: 100%;

            }
        }

        &__name {
            margin-top: 13px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1em;
            text-transform: uppercase;
        }

        &__position {
            font-size: 14px;
            font-weight: 400;
            line-height: 0.9em;
            opacity: 0.5;
            margin-top: 2px;
        }

        &__sticker {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 83px;
            height: 83px;
            margin: 14px auto 0;
            background-color: $c-accent;
            border-radius: 100%;
            font-family: $ff-title;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2em;
            letter-spacing: 0.09em;
            color: $c-white;
            transform: rotate(-30.06deg);
        }

        &__desc {
            max-width: 634px;
            display: flex;
            flex-direction: column;
            gap: 1.4em;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4em;
        }

        &__quote {
            max-width: 634px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1em;
            color: $c-accent;
        }
    }

    .partners-information {
        padding-top: 41px;

        &__title {
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            color: #000;
            text-transform: none;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-top: 74px;
        }

        &__row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &--red .partners-information__item {
                background-color: $c-accent;
            }

            &--blue .partners-information__item {
                background-color: $c-blue-bg;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 0 0 229px;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
        }

        &__logo {
            max-width: 80%;
            width: fit-content;

            img {
                width: 100%;
            }
        }

        &__text {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            color: $c-white;
        }

    }

    .partners-media {
        padding-top: 118px;

        &__title {
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            color: #000;
            text-transform: none;
        }

        &__list {
            margin-top: 49px;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 29px;
        }
    }

    .media-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 63px;
        border-radius: 10px;
        min-height: 377px;

        &__inner {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            border: 2px solid $c-accent;
            padding: 0 28px 24px;
            border-radius: 10px;
            min-height: 314px;

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 90%;
                height: 70px;
                background-color: $c-white;
                z-index: 5;
            }

            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: -63px;
                transform: translateX(-50%);
                width: 62.57%;
                background-color: $c-white;
                border-radius: 60px;
                aspect-ratio: 1 / 0.5525;
                z-index: 3;
                border: 2px solid $c-accent;
            }
        }

        &__img {
            position: relative;
            width: 121px;
            height: 121px;
            z-index: 7;
            margin: -48px auto 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__text {
            margin: 79px auto 20px;
            position: relative;
            z-index: 7;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1em;
            text-align: center;
            text-transform: uppercase;
            color: $c-accent;

        }

        &__btn {
            position: relative;
            width: 184px;
            height: 46px;
            padding: 0;
            margin: auto auto 0;
            z-index: 7;

            .btn__text {
                font-size: 20px;
            }
        }
    }

}