.recipes-page {
    position: relative;
    padding-top: 248px;
    padding-bottom: 36px;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 225px;
        right: 0;
    }

    .recipes {
        padding-top: 98px;

        &__header {
            position: relative;
        }

        &__back {
            position: absolute;
            left: 0;
            top: 12px;
            gap: 12px;
            padding: 0;
            color: $c-accent;
            background-color: transparent;

            .btn__text {
                font-size: 18px;
                line-height: 18px;
            }

            .btn__icon {
                width: 45px;
                height: 6px;

                svg {
                    width: 45px;
                    height: 6px;
                }
            }
        }

        &__title {
            max-width: 760px;
            margin: 0 auto;
            text-align: center;
            font-size: 37px;
            font-weight: 400;
            line-height: 1.09em;
            letter-spacing: 0.06em;
            color: #000;

        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 23px 22px;
            max-width: 1066px;
            margin-top: 23px;
        }

    }

    .recipe-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 24px;
        border-radius: 10px;
        min-height: 283px;
        overflow: hidden;

        &__inner {
            border: 2px solid $c-accent;
        }

        &__img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 279px;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            position: relative;
            z-index: 5;
            font-family: $ff-title;
            font-size: 37px;
            font-weight: 400;
            line-height: 1.09em;
            letter-spacing: 0.06em;
            text-align: center;
            color: #000;
        }

        &__btn {
            position: relative;
            width: 171px;
            height: 35px;
            padding: 0;
            margin-top: 11px;
            background-color: transparent;
            z-index: 5;
            background-size: 171px 35px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 173px;
            transform: translateX(-50%);
            width: 120%;
            background-color: $c-blue-bg;
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            z-index: 3;

        }
    }
}