.recipe-page {
    position: relative;
    padding-top: 218px;
    padding-bottom: 39px;
    overflow: hidden;

    .recipe {
        padding-top: 108px;

        &__inner {
            max-width: 1076px;
            margin: 0 auto;
            padding: 36px 0 48px;
            border: 0.82px solid $c-accent;
            border-radius: 10px;
        }

        &__back-top {
            margin: 0 auto;
            background-color: transparent;
            padding: 9.1px 21px;
            gap: 3.5px;

            .btn__text {
                font-size: 14px;
            }

            .btn__icon {
                transform: rotate(-180deg);
            }
        }

        &__title {
            text-align: center;
            margin-top: 43px;
            color: $c-accent;
            font-size: 90px;
            line-height: 1.09em;
        }

        &__photos {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 50px;
            margin-top: 29px;
            padding-right: 26px;
        }

        &__photo {
            flex: 1 1 50%;

            &--chef {
                max-width: 540px;
            }

            &--dish {
                max-width: 460px;
            }

            img {
                width: 100%;
            }
        }

        &__intro {
            position: relative;
            margin: 69px auto 0;
            max-width: 912px;
            padding-bottom: 65px;
            border-bottom: 1px solid $c-accent;
        }

        &__header {
            display: flex;
            align-items: flex-start;
        }

        .restaurant-logo {
            margin-left: auto;
            flex: 0 0 90px;
            width: 90px;
            height: 90px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top;
            }
        }

        &__name {
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            text-transform: uppercase;
        }

        &__info {
            font-size: 18px;
            font-weight: 400;
            line-height: 0.9em;
            opacity: 0.5;
            margin-top: 9px;
        }

        &__desc {
            max-width: 71%;
            margin-top: 40px;
            font-family: Circe;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1em;

        }

        &__stickers {
            display: flex;
            align-items: center;
            gap: 9px;
            margin: -29px 0 0 73px;
        }

        &__sticker {
            width: 81px;
            height: 81px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-family: $ff-title;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.09em;
            text-align: center;
            text-transform: lowercase;
            color: $c-white;

            &--red {
                background-color: $c-accent;
            }

            &--green {
                background-color: $c-accent-2;
            }
        }

        &__decor {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 174px;
            aspect-ratio: 1 / 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__ingredients {
            margin: 61px auto 0;
            max-width: 912px;
        }

        &__process {
            margin: 66px auto 0;
            max-width: 912px;
        }

        &__btns {
            margin: 94px auto 0;
            max-width: 912px;
            display: flex;
            align-items: center;
            gap: 238px;
        }

        &__back-bottom {
            background-color: transparent;
            padding: 0;
            color: $c-accent;
            gap: 12px;

            .btn__icon {
                width: 88px;

                svg {
                    width: 88px;
                }
            }
        }

        &__logo {
            width: 132px;
        }
    }

    .recipe-ingredients {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        padding-bottom: 37px;
        border-bottom: 1px solid $c-accent;

        &__title {
            flex: 0 0 222px;
            margin-top: 84px;
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            text-transform: uppercase;
        }

        &__content {
            flex: 1 1 auto;
            width: 100%;
        }

        &__count {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            width: 460px;
            font-size: 20px;
            font-weight: 400;
            line-height: 0.8em;
            margin-bottom: 71px;

            span {
                flex: 0 0 auto;
            }
        }

        &__count-line {
            flex: 1 1 auto;
            width: 252px;
            border-bottom: 1px solid $c-accent;
        }

        &__subtitle {
            font-family: $ff-title;
            font-size: 30px;
            font-weight: 400;
            line-height: 1em;
            text-align: left;
            text-transform: uppercase;
        }

        &__list {
            margin-top: 10px;
            margin-bottom: 25px;

            li {
                position: relative;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2em;
                padding-left: 19px;

                &:before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $c-accent;
                    border-radius: 50%;

                }
            }

            ._sponsor {
                color: $c-accent;
            }
        }

        &__img {
            margin-top: 46px;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__btn {
            margin-top: 25px;
        }
    }

    .recipe-process {
        counter-reset: num;
        list-style: none;
        display: flex;
        align-items: flex-start;
        gap: 20px;

        &__title {
            flex: 0 0 352px;
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            text-transform: uppercase;
        }

        &__list {
            counter-reset: item;
            list-style-type: none;
            flex: 1 1 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 23px;

            li {
                display: flex;
                align-items: center;
                content: counter(item);
                position: relative;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2em;
                padding-left: 60px;
                min-height: 48px;

                &:before {
                    content: counter(item) " ";
                    counter-increment: item;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: $ff-title;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1em;
                    text-align: center;
                    color: $c-accent;
                    border: 1px solid $c-accent;
                    border-radius: 50%;

                }
            }
        }
    }

}