.recipe-page {
    position: relative;
    padding-top: 218px;
    padding-bottom: 39px;
    overflow: hidden;

    @include max(1099) {
        padding-top: 75px;
    }


    .recipe {
        padding-top: 108px;

        @include max(767) {
            padding-top: 83px;
        }

        &__inner {
            max-width: 1076px;
            margin: 0 auto;
            padding: 36px 0 48px;
            border: 0.82px solid $c-accent;
            border-radius: 10px;

            @include max(767) {
                padding: 41px 15px 75px;
            }
        }

        &__back-top {
            margin: 0 auto;
            background-color: transparent;
            padding: 9.1px 21px;
            gap: 3.5px;

            @include max(767) {
                background-image: url("../img/angles_transparent_bg.png");
                color: $c-accent;
            }

            .btn__text {
                font-size: 14px;
            }

            .btn__icon {
                transform: rotate(-180deg);
            }
        }

        &__title {
            text-align: center;
            margin-top: 43px;
            color: $c-accent;
            font-size: 90px;
            line-height: 1.09em;

            @include max(767) {
                margin-top: 28px;
                font-size: 40px;
            }
        }

        &__photos {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 50px;
            margin-top: 29px;
            padding-right: 26px;

            @include max(767) {
                flex-direction: column-reverse;
                align-items: center;
                gap: 40px;
                padding: 0;
            }
        }

        &__photo {
            flex: 1 1 50%;

            &--chef {
                display: none;
                max-width: 540px;
            }

            &--dish {
                border: 2px solid $c-accent;
                border-radius: 10px;
                max-width: 460px;
                overflow: hidden;
            }

            img {
                width: 100%;
            }
        }

        &__intro {
            position: relative;
            margin: 69px auto 0;
            max-width: 912px;
            padding-bottom: 65px;
            border-bottom: 1px solid $c-accent;

            @include max(1023) {
                padding: 0 25px 65px;
            }

            @include max(767) {
                margin-top: 22px;
                padding: 0 0 46px;
            }
        }

        &__header {
            display: flex;
            align-items: flex-start;

            @include max(767) {
                flex-direction: column;
                gap: 10px;
            }
        }

        .restaurant-logo {
            display: none;
            margin-left: auto;
            flex: 0 0 90px;
            width: 90px;
            height: 90px;

            @include max(767) {
                height: auto;
                margin-left: 0;
                flex-basis: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top;
            }
        }

        &__name {
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            text-transform: uppercase;

            @include max(767) {
                font-size: 35px;
            }
        }

        &__info {
            font-size: 18px;
            font-weight: 400;
            line-height: 0.9em;
            opacity: 0.5;
            margin-top: 9px;
        }

        &__desc {
            max-width: 71%;
            margin-top: 40px;
            font-family: Circe;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1em;

            @include max(767) {
                max-width: 100%;
                margin-top: 10px;
            }

        }

        &__stickers {
            display: flex;
            align-items: center;
            gap: 9px;
            margin: -29px 0 0 73px;

            @include max(767) {
                display: none;
            }
        }

        &__sticker {
            width: 81px;
            height: 81px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-family: $ff-title;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.09em;
            text-align: center;
            text-transform: lowercase;
            color: $c-white;

            &--red {
                background-color: $c-accent;
            }

            &--green {
                background-color: $c-accent-2;
            }
        }

        &__decor {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 174px;
            aspect-ratio: 1 / 1;

            @include max(767) {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__ingredients {
            margin: 61px auto 0;
            max-width: 912px;

            @include max(767) {
                margin-top: 49px;
            }
        }

        &__process {
            margin: 66px auto 0;
            max-width: 912px;

            @include max(767) {
                margin: 40px auto 0;
            }
        }

        &__btns {
            margin: 94px auto 0;
            max-width: 912px;
            display: flex;
            align-items: center;
            gap: 238px;

            @include max(1023) {
                padding: 0 25px;
                gap: 100px;
            }

            @include max(767) {
                margin-top: 26px;
                justify-content: center;
                gap: 19px;
                padding: 0;
            }
        }

        &__back-bottom {
            background-color: transparent;
            padding: 0;
            color: $c-accent;
            gap: 12px;

            .btn__icon {
                width: 88px;

                svg {
                    width: 88px;
                }
            }
        }

        &__logo {
            width: 132px;

            @include max(767) {
                width: 87px;
            }
        }

        &__note {
            max-width: 912px;
            margin: 0 auto;
            font-family: Circe;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1em;
        }
    }

    .recipe-ingredients {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        padding-bottom: 37px;
        border-bottom: 1px solid $c-accent;

        @include max(1023) {
            flex-direction: column;
            padding: 0 25px 37px;
        }

        @include max(767) {
            padding: 0 0 40px;
            gap: 30px;
        }

        &__title {
            flex: 0 0 222px;
            margin-top: 84px;
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            text-transform: uppercase;

            @include max(1023) {
                flex-basis: auto;
                margin-top: 0;
            }

            @include max(767) {
                font-size: 35px;
            }
        }

        &__content {
            flex: 1 1 auto;
            width: 100%;
        }

        &__count {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            width: 460px;
            font-size: 20px;
            font-weight: 400;
            line-height: 0.8em;
            margin-bottom: 71px;

            @include max(1023) {
                margin-bottom: 25px;
            }

            @include max(767) {
                width: 100%;
                margin-bottom: 20px;
            }

            span {
                flex: 0 0 auto;
            }

            .recipe-ingredients__count-line {
                flex: 1 1 auto;
                width: 252px;
                border-bottom: 1px solid $c-accent;

                @include max(767) {
                    width: 100%;
                }
            }
        }

        &__subtitle {
            font-family: $ff-title;
            font-size: 30px;
            font-weight: 400;
            line-height: 1em;
            text-align: left;
            text-transform: uppercase;

            @include max(767) {
                font-size: 25px;
            }
        }

        &__list {
            margin-top: 10px;
            margin-bottom: 25px;

            @include max(767) {
                margin-bottom: 30px;
            }

            li {
                position: relative;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2em;
                padding-left: 19px;

                &:before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $c-accent;
                    border-radius: 50%;

                }
            }

            ._sponsor {
                color: $c-accent;
            }
        }

        &__img {
            display: none;
            margin-top: 46px;
            width: 100%;

            @include max(767) {
                margin-top: 30px;
            }

            img {
                width: 100%;
            }
        }

        &__btn {
            margin-top: 25px;
        }
    }

    .recipe-process {
        counter-reset: num;
        list-style: none;
        display: flex;
        align-items: flex-start;
        gap: 10px;

        @include max(1023) {
            flex-direction: column;
            padding: 0 25px;
            gap: 50px;
        }

        @include max(767) {
            padding: 0;
            gap: 30px;
        }

        &__title {
            flex: 0 0 352px;
            font-family: $ff-title;
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            text-transform: uppercase;

            @include max(1023) {
                flex-basis: auto;
            }

            @include max(767) {
                font-size: 35px;
            }
        }

        &__content {
            flex: 1 1 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 23px;
        }

        &__subtitle {
            font-family: $ff-title;
            font-size: 30px;
            font-weight: 400;
            line-height: 1em;
            text-align: left;
            text-transform: uppercase;

            @include max(767) {
                font-size: 25px;
            }
        }

        &__list {
            counter-reset: item;
            list-style-type: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 23px;
            margin-bottom: 25px;

            @include max(767) {
                gap: 20px;
                margin-bottom: 30px;
            }

            li {
                display: flex;
                align-items: center;
                content: counter(item);
                position: relative;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2em;
                padding-left: 60px;
                min-height: 48px;

                @include max(767) {
                    padding-left: 50px;
                }

                &:before {
                    content: counter(item) " ";
                    counter-increment: item;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: $ff-title;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1em;
                    text-align: center;
                    color: $c-accent;
                    border: 1px solid $c-accent;
                    border-radius: 50%;

                }
            }
        }
    }

}

.recipe-page.recipe-page--chef {
    .recipe {
        &__photo {
            &--chef {
                display: block;
            }

            &--dish {
                border: none;
                border-radius: 0;
            }
        }

        .restaurant-logo {
            display: block;
        }
    }

    .recipe-ingredients {
        &__img {
            display: block;
        }
    }

}