.recipes-page {
    position: relative;
    padding-top: 248px;
    padding-bottom: 36px;
    overflow: hidden;

    @include max(1099) {
        padding-top: 75px;
        padding-bottom: 77px;
    }

    &__bg {
        position: absolute;
        top: 225px;
        right: 0;
        z-index: -1;

        @include max(1023) {
            display: none;
        }
    }

    .recipes {
        padding-top: 98px;

        @include max(767) {
            padding-top: 29px;
        }

        &__header {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__tabs {
            display: flex;
            align-items: center;
            gap: 16px;
            width: fit-content;
            margin: 60px auto 18px;

            @include max(450) {
                flex-direction: column;
                gap: 32px;
            }
        }

        &__tab {
            background-color: transparent;
            font-weight: 400;
            line-height: 1em;
            text-align: center;
            padding: 4.5px 53px;
            background-image: url("../img/tab.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.3s linear;

            &.active {
                background-image: url("../img/tab_active.png");
            }

            .btn__text {
                font-size: 20px;
            }
        }

        &__back {
            align-self: flex-start;
            gap: 12px;
            padding: 0;
            color: $c-accent;
            background-color: transparent;

            .btn__text {
                font-size: 18px;
                line-height: 18px;
            }

            .btn__icon {
                width: 45px;
                height: 6px;

                svg {
                    width: 45px;
                    height: 6px;
                }
            }

            @include max(767) {
                display: none;
            }
        }

        &__title {
            max-width: 760px;
            margin: 0 auto;
            text-align: center;
            font-size: 37px;
            font-weight: 400;
            line-height: 1.09em;
            letter-spacing: 0.06em;
            color: #000;

        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-auto-rows: 1fr;
            gap: 36px 69px;
            margin-top: 23px;

            @include max(1023) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include max(767) {
                position: relative;
                display: block;
                margin-top: 96px;
            }

            .swiper-wrapper {
                display: contents;

                @include max(767) {
                    display: flex;
                    align-items: stretch;
                }

            }

            .slider-controls {
                display: none;

                @include max(767) {
                    display: block;

                }
            }

            .slider-control {
                background-color: $c-white;
                width: 88px;
                height: 18px;
                border: none;
                border-radius: 0;
                top: -32px;

                svg {
                    width: 88px;
                }

                &--prev {
                    left: 49px;

                    svg {
                        transform: rotate(0);
                    }
                }

                &--next {
                    right: 49px;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &__pagination {
            margin-top: 101px;


            @include max(767) {
                display: none;
            }
        }

    }

    .recipe-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 63px;
        border-radius: 10px;

        @include max(767) {
            height: auto;
        }

        &--sticker::after {
            content: "рецепт от шефа";
            position: absolute;
            right: -40px;
            top: 25px;
            width: 83px;
            height: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px 9px;
            background-color: $c-accent-2;
            border-radius: 50%;
            color: $c-white;
            font-family: $ff-title;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.05em;
            letter-spacing: 0.09em;
            text-align: center;
            z-index: 7;

            @include max(767) {
                right: -9px;
                top: 10px;
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;
            border: 2px solid $c-accent;
            padding: 0 28px 24px;
            border-radius: 10px;
            height: 100%;

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 90%;
                height: 70px;
                background-color: $c-white;
                z-index: 5;
            }

            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: -63px;
                transform: translateX(-50%);
                width: 125px;
                background-color: $c-white;
                border-radius: 100%;
                aspect-ratio: 1 / 1;
                z-index: 3;
                border-radius: 100%;
                border: 2px solid $c-accent;
            }
        }

        &__img {
            position: relative;
            width: 90px;
            height: 90px;
            z-index: 7;
            border-radius: 50%;
            margin: -45px auto 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            position: relative;
            z-index: 7;
            font-family: $ff-title;
            font-size: 25px;
            font-weight: 400;
            line-height: 1em;
            text-align: center;
            color: #000;
            margin: 10px auto 0;
        }

        &__city {
            position: relative;
            z-index: 7;
            margin: 10px auto 11px;
            font-size: 14px;
            font-weight: 400;
            line-height: 0.9em;
            text-align: center;
            text-transform: uppercase;
            color: #000;
            opacity: 0.5;
        }

        &__btn {
            position: relative;
            width: 165px;
            height: 35px;
            padding: 0;
            margin: auto auto 0;
            background-color: transparent;
            z-index: 7;

            .btn__text {
                font-size: 14px;
            }
        }
    }
}