.recipe-categories-page {
    position: relative;
    padding-top: 267px;
    padding-bottom: 152px;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 244px;
        right: 0;
    }

    .recipe-categories {
        padding-top: 103px;

        &__title {
            font-size: 50px;
            font-weight: 400;
            line-height: 1.05em;
            color: #000;

        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 23px 22px;
            max-width: 1066px;
            margin-top: 123px;
        }
    }

    .recipe-category {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 24px;
        border-radius: 10px;
        height: 345px;
        border: 2px solid $c-accent;
        overflow: hidden;

        &__img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 279px;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            position: relative;
            z-index: 5;
            font-family: $ff-title;
            font-size: 37px;
            font-weight: 400;
            line-height: 1.09em;
            letter-spacing: 0.06em;
            text-align: center;
            color: #000;
        }

        &__btn {
            position: relative;
            width: 171px;
            height: 35px;
            padding: 0;
            margin-top: 11px;
            background-color: transparent;
            z-index: 5;
            background-size: 171px 35px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 173px;
            transform: translateX(-50%);
            width: 120%;
            background-color: $c-blue-bg;
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            z-index: 3;

        }
    }
}