extends layouts/default.pug

block variables
    - let page = 'main'

block content
    main.page.home-page
        section.home-intro
            .m-container.home-intro__container
                .home-intro__desc
                    .home-intro__logo.logo
                        img(src="./img/logo.svg" alt="Логотип Русский завтрак")
                    +title({
                        tag: "h1",
                        classes: "home-intro__title",
                        text: "Завтрак как традиция, завтрак как настоящий <br>праздник"
                    })
                .home-intro__img
                    img(src="./img/cooks.png" alt="Повара")
        section.home-about
            .m-container.home-about__container
                .home-about__left
                    .home-about__text
                        p  Лидер по производству молока в России компания «ЭкоНива» и всероссийский проект «Гастрономическая карта России» объединились, чтобы рассказывать о самых вкусных и полезных национальных завтраках и способствовать их внедрению как в каждый дом, так и в сферу гостеприимства.

                        p В ходе проекта «Русский завтрак» в 2023 году 20 героев, среди которых шеф-повара, рестораторы и отельеры из 20 городов, разработали 80 рецептов блюд для завтрака с учетом кулинарных особенностей и традиций их родных регионов.<br>В 2024 году к проекту присоединилась компания METRO — оператор оптовой торговли. Благодаря сотрудничеству трех брендов и специально разработанному предложению у ресторанов, отелей и гостиниц появилась возможность внедрения «Русского завтрака» в меню своих заведений. Таким образом, у жителей и гостей регионов будет возможность начать свое знакомство с городом с завтрака в гостиницах. Также они смогут узнать все о кулинарных традициях в местных кафе и ресторанах в авторской интерпретации шеф-поваров.

                    .home-about__img
                        img(src="./img/home_about.png" alt="Пиалы")
                .home-about__right
                    .home-about__author.author-card
                        .author-card__title автор проекта
                        .author-card__photo
                            img(src="./img/author.jpg" alt="Екатерина Шаповалова")
                        .author-card__name Екатерина Шаповалова
                        .author-card__position автор концепции проекта «Русский завтрак», <br>автор-методист и руководитель <br>Всероссийского проекта «Гастрономическая карта России»
                        .author-card__icon
                            svg 
                                use(xlink:href="./img/sprites/sprite.svg#quotes")
                        .author-card__text «На сегодняшний день в Российской Федерации нет ни одной школы русской кухни: ни государственной, ни коммерческой, а среди 180 тысяч российских предприятий питания меньше 1% специализируются на русской кухне и кухне народов России. Инициатива двух российских предприятий-гигантов очень своевременная и социально значимая. В ближайшие 10 лет нам необходимо заняться собой, осознать и сформулировать нашу национальную идентичность, которая и станет основой сферы гостеприимства. География «ЭкоНивы» и METRO позволяет нам в рамках проекта познакомить с современной русской кухней каждого пятого россиянина, региональные блюда русского завтрака «зайдут» в каждый дом. Очень надеюсь, что одним из результатов проекта, станет появление в туристической инфраструктуре России — в отелях, кафе, ресторанах, кондитерских — такого долгожданного предложения как „русский завтрак“»
        section.home-banner
            .m-container
                .home-banner__inner 
                    .home-banner__desc
                        .home-banner__logo.logo
                            img(src="./img/logo.svg" alt="Логотип Русский завтрак")
                        +title({
                            tag: "h2",
                            classes: "home-banner__title",
                            text: "Гастрономический фестиваль"
                        })
                        .home-banner__date 1 октября — 30 ноября
                        .home-banner__text Пробуйте завтраки разных регионов России в гостиницах, кафе и ресторанах и приготовьте эти блюда дома с&nbsp;ингредиентами из METRO
                        +btn({
                            classes: 'home-banner__btn',
                            name: "Где попробовать «Русский завтрак»?"
                        })