extends layouts/default.pug

block variables
    - let page = 'main'

block content
    main.page.home-page
        section.home-intro
            .m-container.home-intro__container
                .home-intro__desc
                    .home-intro__logo.logo
                        img(src="./img/logo.svg" alt="Логотип Русский завтрак")
                    +title({
                        tag: "h1",
                        classes: "home-intro__title",
                        text: "Завтрак как традиция, завтрак как настоящий <br>праздник"
                    })
                .home-intro__img
                    img(src="./img/cooks.png" alt="Повара")
        section.home-about
            .m-container.home-about__container
                .home-about__left
                    .home-about__text
                        p  Лидер по производству молока в России компания «ЭкоНива» и Всероссийский проект «Гастрономическая карта России» объединились, чтобы рассказывать о самых вкусных и полезных национальных завтраках и способствовать их внедрению как в каждый дом, так и в сферу гостеприимства.

                        p В ходе проекта «Русский завтрак» в&nbsp;2023&nbsp;году 20&nbsp;героев, среди которых шеф-повара, рестораторы и отельеры из 20&nbsp;городов, разработали 80&nbsp;рецептов блюд для завтрака с учетом кулинарных особенностей и традиций их родных регионов.<br>В&nbsp;2024&nbsp;году к проекту присоединилась компания METRO — оператор оптовой торговли. Благодаря сотрудничеству трех брендов и специально разработанному предложению у ресторанов, отелей и гостиниц появилась возможность внедрения «Русского завтрака» в меню своих заведений. Таким образом, у жителей и гостей регионов будет возможность начать свое знакомство с городом с завтрака в гостиницах. Также они смогут узнать все о кулинарных традициях в местных кафе и ресторанах в авторской интерпретации шеф-поваров.

                    .home-about__img
                        img(src="./img/home_about.png" alt="Пиалы")
                .home-about__right
                    .home-about__author.author-card
                        .author-card__title автор проекта
                        .author-card__photo
                            img(src="./img/author.jpg" alt="Екатерина Шаповалова")
                        .author-card__name Екатерина Шаповалова
                        .author-card__position автор концепции проекта «Русский завтрак», <br>автор-методист и руководитель <br>Всероссийского проекта «Гастрономическая карта России»
                        .author-card__icon
                            svg 
                                use(xlink:href="./img/sprites/sprite.svg#quotes")
                        .author-card__text На сегодняшний день в Российской Федерации нет ни одной школы русской кухни: ни государственной, ни коммерческой, а среди 180&nbsp;тысяч российских предприятий питания меньше 1% специализируются на русской кухне и кухне народов России. Инициатива двух российских предприятий-гигантов очень своевременная и социально значимая. В ближайшие 10&nbsp;лет нам необходимо заняться собой, осознать и сформулировать нашу национальную идентичность, которая и станет основой сферы гостеприимства. География «ЭкоНивы» и METRO позволяет нам в рамках проекта познакомить с современной русской кухней каждого пятого россиянина, региональные блюда русского завтрака «зайдут» в каждый дом. Очень надеюсь, что одним из результатов проекта станет появление в туристической инфраструктуре России — в отелях, кафе, ресторанах, кондитерских — такого долгожданного предложения как «русский завтрак»
        section.home-banner
            .m-container
                .home-banner__inner 
                    .home-banner__desc
                        .home-banner__logo.logo
                            img(src="./img/logo.svg" alt="Логотип Русский завтрак")
                        +title({
                            tag: "h2",
                            classes: "home-banner__title",
                            text: "Гастрономический фестиваль"
                        })
                        .home-banner__date 1 октября — 30 ноября
                        .home-banner__text Пробуйте завтраки разных регионов России в гостиницах, кафе и ресторанах и приготовьте эти блюда дома с&nbsp;ингредиентами из METRO
                        +btn({
                            classes: 'home-banner__btn',
                            link: 'cities.html',
                            name: "Где попробовать «Русский завтрак»?"
                        })
        section.home-video
            .m-container
                .home-video__title
                    != "Что такое"
                    span Русский Завтрак
                .home-video__inner           
                    .home-video__video 
                        <iframe src="https://vk.com/video_ext.php?oid=-172889220&id=456239154&hd=2&volume=0" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                    .home-video__text Завтрак в русском стиле - это особая культура и традиции. Слово «завтрак» на Руси обозначало самые разные блюда, фантазия зависела лишь от достатка. Сейчас «русский завтрак» - это обязательно молочные продукты, яйца, крупы и мясные изделия. Из них можно приготовить множество вкусных вариантов. Шеф-повара готовы поделиться идеями из разных уголков нашей страны. Следите за расписанием мастер-классов и готовьте вместе с нами!
        section.home-cooks
            .m-container
                .home-cooks__title
                    != "Россия удивляет: "
                    span 20 героев проекта
                    != " из разных регионов России создали <br>для вас рецепты с учетом местных кулинарных <br>особенностей и традиций"
                .home-cooks__list
                    .home-cooks__note
                        <svg width="25" height="33" viewBox="0 0 25 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.9999 16.7221C25.0083 15.7254 24.4634 14.8484 23.659 14.3901C23.2917 14.1807 22.8679 14.0578 22.4196 14.0509C21.8157 14.0423 21.2588 14.2457 20.8141 14.5891L20.8629 14.3747C20.872 13.3787 20.3275 12.5017 19.5226 12.0431C19.1554 11.8335 18.7309 11.7105 18.2822 11.7036C18.0455 11.7002 17.8172 11.75 17.6097 11.8352C17.2981 11.9637 17.0298 12.1679 16.7973 12.4083C16.7325 12.4758 16.6649 12.6123 16.6028 12.7176C16.5655 12.6474 16.5138 12.5858 16.4496 12.5398C16.2227 11.973 15.815 11.4563 15.3049 11.1657C14.9376 10.9563 14.5138 10.8334 14.0655 10.8265C13.4622 10.8182 12.9049 11.0214 12.4603 11.3646L12.4689 9.44992C13.2117 9.01415 13.854 8.38387 14.3041 7.57155C15.6553 5.13338 14.7885 2.03823 12.3686 0.658671C9.94844 -0.720976 6.89093 0.137069 5.53978 2.57524C4.23195 4.93527 5.00692 7.90641 7.25341 9.34572L7.18872 19.7508L4.58494 16.4458C4.38038 16.2013 4.13881 16.0024 3.87573 15.8524C2.95352 15.3267 1.76897 15.3979 0.916661 16.1232L0.847539 16.1821L0.840189 16.1954C0.633694 16.3859 0.461789 16.6031 0.330725 16.8396C-0.182192 17.7652 -0.105732 18.9575 0.610713 19.8231L7.69706 28.8472C8.47406 30.0127 9.53555 30.9956 10.7922 31.712C12.1839 32.5053 13.8154 32.973 15.561 32.9989C19.2099 33.0528 22.402 31.1779 23.9652 28.3604C24.596 27.2225 24.9587 25.9299 24.9703 24.5602L24.9999 16.7221ZM6.41645 3.07555C7.49575 1.12793 9.94612 0.440406 11.8792 1.54243C13.8124 2.64445 14.5071 5.12493 13.4278 7.07256C13.1773 7.52472 12.8488 7.90429 12.4739 8.21283L12.4847 5.74819C12.4928 4.75203 11.9482 3.87452 11.1434 3.41651C10.7762 3.20692 10.3517 3.08386 9.90298 3.07752C8.91732 3.06338 8.05311 3.60875 7.60482 4.41919C7.39973 4.7888 7.28055 5.21598 7.27582 5.66812L7.2604 8.0853C5.88364 6.8413 5.48233 4.76121 6.41645 3.07555ZM15.5697 31.9849C13.9924 31.961 12.5263 31.5396 11.2809 30.8296C10.1462 30.1827 9.19555 29.2965 8.5098 28.258L8.49703 28.2389L1.38686 19.1854L1.38258 19.1805C0.939483 18.6527 0.89161 17.911 1.208 17.34C1.29801 17.1776 1.41727 17.0297 1.56635 16.9026L1.57437 16.8959C2.09172 16.4572 2.82245 16.4142 3.38698 16.736C3.54809 16.8278 3.69431 16.9485 3.82106 17.0994L8.16816 22.5078L8.28056 5.68501C8.2835 5.4061 8.3563 5.14687 8.48228 4.91954C8.7602 4.41851 9.29273 4.08274 9.89498 4.0929C10.1714 4.09686 10.4284 4.17146 10.6546 4.30038C11.1519 4.58414 11.4873 5.12552 11.4812 5.73423L11.4525 13.3079L11.4001 17.9439C11.3975 18.2241 11.6202 18.4547 11.8972 18.459C12.1742 18.4634 12.4012 18.2397 12.4037 17.9597L12.4565 13.3142C12.4613 13.0425 12.5192 12.8954 12.6431 12.6712C12.9215 12.1694 13.4552 11.8335 14.0571 11.8427C14.333 11.8474 14.5895 11.9222 14.8157 12.0506C15.3124 12.3346 15.6487 12.8754 15.6432 13.4863L15.6434 14.4884L15.6044 18.0087C15.602 18.2887 15.8247 18.5192 16.1019 18.5237C16.379 18.5278 16.6056 18.3042 16.6081 18.0237L16.6399 15.1628L16.6529 15.1638L16.6466 15.0874C16.6464 14.6969 16.8051 14.1282 17.0711 13.6545C17.2426 13.3436 17.4631 13.1476 17.6787 12.9712C17.7863 12.8827 17.8929 12.8181 17.9921 12.7771C18.092 12.7358 18.1833 12.7183 18.2729 12.7197C18.5494 12.724 18.806 12.7989 19.0326 12.9275C19.5301 13.2114 19.8652 13.752 19.8582 14.3603L19.8448 15.5362C19.8444 15.5446 19.8423 15.5522 19.8421 15.5604L19.7782 18.8428C19.7757 19.1224 19.9985 19.3534 20.2755 19.3577C20.5525 19.3623 20.7795 19.1383 20.7819 18.8583L20.8211 16.8505L20.8338 16.8504L20.8342 16.8491L20.8337 16.8472C20.8377 16.5692 20.8713 16.1211 20.997 15.8939C21.2758 15.3923 21.8084 15.0558 22.41 15.0657C22.6862 15.0704 22.9428 15.145 23.1689 15.2736C23.6659 15.5578 24.0016 16.0979 23.9953 16.7074L23.9658 24.5453C23.9549 25.7404 23.6411 26.8626 23.0878 27.861C21.7212 30.3334 18.8686 32.0356 15.5697 31.9849Z" fill="black"/>
                        </svg>
                        != "Выберите повара, чтобы узнать о нем больше и попробовать его фирменный рецепт"
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Волков-Медведев
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_1.jpg" alt="Волков-Медведев" data-js="homeCooksPhoto")

                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Титов
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_2.jpg" alt="Титов" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Прокудин
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_3.jpg" alt="Прокудин" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Матусевич
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_4.jpg" alt="Матусевич" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Жукова
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_5.jpg" alt="Жукова" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Рубцов
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_6.jpg" alt="Рубцов" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Бордюг
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_7.jpg" alt="Бордюг" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Галецкий
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_8.jpg" alt="Галецкий" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Степанов
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_9.jpg" alt="Степанов" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Абдулин
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_10.jpg" alt="Абдулин" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Корнев
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_11.jpg" alt="Корнев" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Магидс
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_12.jpg" alt="Магидс" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Матюха
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_13.jpg" alt="Матюха" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Альшевский
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_14.jpg" alt="Альшевский" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Семенов
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_15.jpg" alt="Семенов" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Субботин
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_16.jpg" alt="Субботин" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Насхутдинов
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_17.jpg" alt="Насхутдинов" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Бурковский
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_18.jpg" alt="Бурковский" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Еловикова
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_19.jpg" alt="Еловикова" data-js="homeCooksPhoto")
                    .home-cooks__item(data-js="homeCooksItem")
                        .home-cooks__info
                            .home-cooks__name(data-js="homeCooksName") Белоногова
                            .home-cooks__text(data-js="homeCooksText") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .home-cooks__city(data-js="homeCooksCity") Москва
                        .home-cooks__photo
                            img(src="./img/cooks/person_20.jpg" alt="Белоногова" data-js="homeCooksPhoto")