.modal.hystmodal {
    .hystmodal__window {
        transition: all 0.3s linear;
        transform: scale(0);
        opacity: 0;
        width: auto;
        background-color: transparent;
    }
}

.modal.hystmodal--active {
    .hystmodal__window {
        margin: 50px 0 0;
        transition: all 0.3s linear;
        transform: scale(1);
        opacity: 1;

        @include max(1023) {
            margin: 20px 0 0;
        }
    }
}

.modal {
    box-sizing: border-box;

    &__close {
        position: absolute;
        right: -44px;
        top: -42px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        min-height: auto;
        min-width: auto;
        background: transparent;
        cursor: pointer;
        z-index: 20;
        color: $c-accent;

        @include max(1023) {
            right: 17px;
            top: 16px;
            color: $c-white;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        background: transparent;
        width: 100%;
        max-width: 736px;
        z-index: 9999;

        @include max(1023) {
            width: calc(100% - 40px);
            margin: 0 auto;
        }
    }
}

.restaurant-modal {
    &__inner {
        border: 2px solid $c-accent;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 60px;
        overflow: hidden;

        @include max(1023) {
            padding-bottom: 36px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: calc(100% - 359px);
            background-color: $c-blue-bg;
            border-radius: 10px;
            z-index: 3;

            @include max(1023) {
                height: calc(100% - 208px);
            }
        }
    }

    &__img {
        position: relative;
        width: 100%;
        height: 434px;
        z-index: 1;

        @include max(1023) {
            height: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        align-self: center;
        position: relative;
        z-index: 5;
        margin-top: -118px;
        padding: 23px 78px;
        font-family: $ff-title;
        color: $c-white;
        font-size: 37px;
        font-weight: 400;
        line-height: 1.09em;
        letter-spacing: 0.06em;

        @include max(1023) {
            font-size: 20px;
            margin-top: -100px;
            padding: 16px 72.3px;
            margin-top: -68px;
        }
    }

    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        z-index: 5;
        margin-top: 38px;
        padding: 0 41px;
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: 0.06em;
        height: 3em;

        @include max(1023) {
            padding: 0 20px;
            margin-top: 40px;
        }
    }

    &__quote {
        position: relative;
        z-index: 5;
        margin-top: 58px;
        padding: 0 41px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.1em;

        @include max(1023) {
            padding: 0 20px;
            margin-top: 22px;
            text-align: left;
        }
    }

    &__author {
        display: flex;
        gap: 30px;
        position: relative;
        z-index: 5;
        margin-top: 11px;
        padding: 0 41px;
        font-size: 20px;
        line-height: 1.1em;

        @include max(1023) {
            padding: 0 20px;
            margin-top: 39px;
            gap: 24px;
        }
    }

    &__photo {
        width: 74px;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        overflow: hidden;
    }

    &__name {
        margin-top: 11px;
    }

    &__position {
        font-weight: 700;
    }

    &__btn {
        align-self: center;
        position: relative;
        width: 171px;
        height: 35px;
        padding: 0;
        margin-top: 62px;
        background-color: transparent;
        z-index: 5;
        background-size: 171px 35px;

        .btn__text {
            font-size: 14px;
        }

        @include max(1023) {
            margin-top: 65px;
        }
    }

}

.cook-modal {
    .modal__close {
        top: -90px;
        right: 50%;
        transform: translateX(50%);
    }

    .modal__content {
        max-width: 310px;
    }

    &__inner {
        position: relative;
        padding: 0 28px 28px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #E42313;

        &::after {
            content: '';
            position: absolute;
            top: -48px;
            left: 50%;
            transform: translateX(-50%);
            width: 96px;
            height: 96px;
            border: 1px solid #E42313;
            border-radius: 100%;
            background-color: #fff;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 50px;
            top: 1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            z-index: 2;
        }

    }

    &__content {
        position: relative;
        z-index: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__photo {
        margin-top: -34px;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-family: $ff-title;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 25px;
    }

    &__text {
        font-size: 14px;
        color: #000;
        opacity: 0.8;
        margin-top: 8px;
    }

    &__city {
        margin-top: 4px;
        font-size: 14px;
        color: $c-accent;
        text-transform: uppercase;
    }
}