.footer {
    padding: 50px 0;
    background-color: $c-gray-bg;

    &__container {
        display: flex;
    }

    &__column {
        &--1 {
            flex: 0 0 225px;
        }

        &--3 {
            flex: 0 0 180px;
        }

        &--4 {
            flex: 0 0 341px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-left: 16px;

            .footer__title {
                flex: 0 0 138px;
            }

        }
    }

    &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.47em;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.47em;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-top: 14px;
        margin-bottom: 28px;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 31px;
        background-color: $c-accent;
        border-radius: 100%;

        svg {
            max-width: 15px;
            max-height: 15px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 51px;
    }

    &__link {
        text-decoration: none;
        transition: text-decoration $tr-time linear;

        &:hover {
            text-decoration: underline;
        }
    }

    &__img {
        display: block;
        width: 100%;
        margin-top: 22px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__logos {
        flex: 1 1 100%;
        position: relative;
    }

    &__logo {
        position: absolute;
        display: block;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;

        &--1 {
            top: 0;
            left: -30px;
            width: 153px;
            z-index: 1;
        }

        &--2 {
            top: 0;
            left: 89.38px;
            width: 74.14px;
            z-index: 3;
        }

        &--3 {
            top: 40.53px;
            left: 129.36px;
            width: 74.14px;
            z-index: 1;
        }

        &--4 {
            top: 79.71px;
            left: 89.38px;
            width: 74.51px;
            z-index: 3;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }


}