footer.footer
	.m-container.footer__container
		.footer__column.footer__column--1
			.footer__title Нравится проект? Поделитесь!
			.footer__socials 
				a.footer__social(href="https://vk.com/")
					svg
						use(xlink:href="./img/sprites/sprite.svg#vk")
				a.footer__social(href="https://ok.ru/")
					svg
						use(xlink:href="./img/sprites/sprite.svg#ok")
				a.footer__social(href="https://telegram.org/")
					svg
						use(xlink:href="./img/sprites/sprite.svg#tg")
			.footer__text Реклама. Рекламодатель
		.footer__column.footer__menu
			a(href="#").footer__text.footer__link О проекте
			a(href="#").footer__text.footer__link Куда сходить на «Русский завтрак»?
			a(href="#").footer__text.footer__link Как приготовить «Русский завтрак»?
			a(href="#").footer__text.footer__link Партнеры проекта
			a(href="#").footer__text.footer__link Правила фестиваля
		.footer__column.footer__column--3
			.footer__title Коммуникационный партнер:
			a(href="#").footer__img
				img(src="./img/am.svg" alt="")
		.footer__column.footer__column--4
			.footer__title Партнеры проекта:
			.footer__logos
				a(href="/").footer__logo.footer__logo--1
					img(src="./img/russian_breakfast.svg" alt="")
				a(href="metro").footer__logo.footer__logo--2
					img(src="./img/metro_f.svg" alt="")
				a(href="gastro").footer__logo.footer__logo--3
					img(src="./img/gastronomic_map_f.svg" alt="")
				a(href="ekoniva").footer__logo.footer__logo--4
					img(src="./img/ekoniva_f.svg" alt="")
