@font-face {
    font-family: 'Circle';
    src: url('../fonts/circle/Circe-Regular.woff2') format('woff2'),
        url('../fonts/circle/Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circle';
    src: url('../fonts/circle/Circe-Bold.woff2') format('woff2'),
        url('../fonts/circle/Circe-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrPalkerDadson';
    src: url('../fonts/mrPalkerDadson/MrPalkerDadsonCond-Regular.woff2') format('woff2'),
        url('../fonts/mrPalkerDadson/MrPalkerDadsonCond-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}